/*------------------------------------*    #SOCIAL-MEDIA
\*------------------------------------*/
.footer {
  /*/&__social-media {
    ul li {
      display: block;
      width: 20px;
      height: 20px;
    }
  } */ }
  .footer .iocn {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor; }
