/*------------------------------------*\
    #ABOUT
\*------------------------------------*/
.about-header {
  &__text {
    text-align: right;
    margin-left: 40px;
  }

  img {
    width: 20%; //test
  }
}
