/*------------------------------------*\
    #SERVICES
\*------------------------------------*/

.services-header h2 {
  text-align: center;
  background-color: $dark-blue;
  color: white;
}

.services-grid {
  background-color: $dark-blue;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(10, 1fr);
  text-align: center;
  padding: 30px 0;

    p {
      color: white;
    }

    img {
      width: 30%;
    }

    &__tours {
      grid-column: 2 / span 2;
    }
    &__photo-tours {
      grid-column: 4 / span 2;
    }
    &__membership {
      grid-column: 6 / span 2;
    }
    &__volunteer {
      grid-column: 8 / span 2;
    }
}

.testimonials {
  background-color: $light-blue;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  text-align: center;
  padding: 40px 0;
    &__text {
      grid-column: 2 / span 5;
      display: flex;
      align-items: center;
      flex-direction: column;
      align-content: center;
      background-color: rgba(255, 255, 255, 0.4);
      padding: 20px;

      p {
        font-size: 4vh;
        line-height: 4vh;
        font-family: $serif;
        color: $dark-blue;
      }
      p:last-child {
        align-self: flex-end;
        font-size: 3.5vh;
        padding-top: 20px;
      }
      span {
        font-size: 4.4vh;
      }
    }
    img {
      grid-column: 7 / span 5;
      width: 100%;
    }
}
