/*------------------------------------*\
    #GLOBALS
\*------------------------------------*/
html,
html > body,
body {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
}

.site-wrapper {
	max-width: 1500px;
	margin: auto;
}

::selection {
	background-color: $light-blue;
	color: white;
}

h1,
h2,
h3,
h4,
nav {
	font-family: $serif;
	font-weight: 100;
}

h5,
h6,
p,
a,
button,
input,
textarea {
	font-family: $sans;
}

h5 {
	font-size: 1.2rem;
	font-weight: lighter;
	text-transform: uppercase;
}

h6 {
	font-size: 1rem;
	font-weight: lighter;
	text-transform: uppercase;
}

p,
a,
textarea,
button {
	font-size: 0.8rem;
	font-weight: lighter;
	line-height: 1rem;
}
