/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
.footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  position: relative;
  color: white;
  background-color: $dark-blue;
  padding: 20px 0;

  &__stay-connected {
      grid-column: 2 / span 5;
    }
  &__stay-connected p {
    width: 60%;
  }
  &__visit-us {
    grid-column: 7 / span 2;

    img {
      width: 25%;
    }
  }
  &__sitemap {
    grid-column: 9 / span 3;
    text-align: right;
    text-transform: uppercase;
  }
  &__copyright {
    grid-column: 1 / span 12;
    text-align: center;
  }
  ul {
    @include no-bullets;
    a {
      text-decoration: none;
      &:visited {
        color: white;
      }
    }
  }
  &__social-media li {
    display: inline;
  }
}
