/*------------------------------------*\
    #HEADER
\*------------------------------------*/

header {

}





/*------------------------------------*\
    #NAV
\*------------------------------------*/
header img {
	width: 100%;
}
.nav {
	background-color: $dark-blue;
	text-transform: uppercase;
	height: 40px;

	ul {
		display: flex;  //parent
		@include no-bullets;

		> li {
			flex: 1; //child
			text-align: center;

			> a {

				&:hover {
				}
				&:link {
					text-decoration: none;
				}
				&:visited {

				}
				&:active {
				}
			}
		}
	}
}
