/*------------------------------------*\
    #HEADER
\*------------------------------------*/

header {

}





/*------------------------------------*\
    #NAV
\*------------------------------------*/

.nav {
	background-color: $dark-blue;
	text-transform: uppercase;

	ul {
		display: flex;
		@include no-bullets;

		> li {
			flex: 1;
			text-align: center;


			> a {

				&:hover {
				}
				&:link {
					text-decoration: none;
				}
				&:visited {

				}
				&:active {

				}
			}
		}
	}
}
