/*------------------------------------*\
    #HEADER
\*------------------------------------*/

header {
	position: relative;
}





/*------------------------------------*\
    #NAV
\*------------------------------------*/
.lighthouse-image {
	width: 100%;
	object-fit: cover;
	transform: scaleX(-1);
  filter: FlipH;
}
.sg-logo {
	position: absolute;
	width: 35%;
	top: 10%;
	left: 35%;
}
.nav {
	background-color: $dark-blue;
	text-transform: uppercase;
	height: 35px;
	width: 100%;
	position: fixed;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	z-index: map-get($zindex, navigation);

	&__navigation {
		display: flex;  //parent
		@include no-bullets;
		grid-column: 1 / span 7;
		align-items: center;

		> li {
			flex: 1; //child
			text-align: center;

			> a {

				&:hover {
				}
				&:link {
					text-decoration: none;
				}
				&:visited {

				}
				&:active {
				}
			}
		}
	}
	ul.nav__social-media {
		@include no-bullets;
		grid-column: 11 / span 2;
		display: flex;
		align-items: center;

		> li {
				flex: 1;
		}
	}
}
